*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --primary-bgColor:skyblue;
    --secondary-bgColor:lightgray;
    --primary-text-color:black;
    --secondary-text-color:white;
    --fontSize:"12px";
}

.layout, .main-content, .content{
    width: 100%;
    height: 100vh;
}

